@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  /* font families */
  --font-sans: var(--font-sans);
  --font-heading: var(--font-heading);
  /* font sizes */
  --text-medium: var(--font-size-medium);
  --text-large: var(--font-size-large);
  --text-x-large: var(--font-size-x-large);
  --text-2x-large: var(--font-size-2x-large);
  --text-3x-large: var(--font-size-3x-large);
  /* container queries */
  --breakpoint-2xs: 22.5rem;
  --breakpoint-xs: 31.25rem;
  --breakpoint-md: 48rem;
  --breakpoint-3xl: 105rem;
  --breakpoint-4xl: 120rem;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.541 0.281 293.009);
  --primary-foreground: oklch(0.969 0.016 293.756);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.811 0.111 293.571);
  --chart-2: oklch(0.606 0.25 292.717);
  --chart-3: oklch(0.541 0.281 293.009);
  --chart-4: oklch(0.491 0.27 292.581);
  --chart-5: oklch(0.432 0.232 292.759);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.541 0.281 293.009);
  --sidebar-primary-foreground: oklch(0.969 0.016 293.756);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
  /* font sizes */
  --font-size-medium: clamp(18px, 1.125rem + ((1vw - 3.9px) * 0.19), 20px);
  --font-size-large: clamp(20px, 1.25rem + ((1vw - 3.9px) * 0.476), 25px);
  --font-size-x-large: clamp(25px, 1.563rem + ((1vw - 3.9px) * 0.571), 31px);
  --font-size-2x-large: clamp(25px, 1.563rem + ((1vw - 3.9px) * 1.333), 39px);
  --font-size-3x-large: clamp(31px, 1.938rem + ((1vw - 3.9px) * 1.714), 49px);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.606 0.25 292.717);
  --primary-foreground: oklch(0.969 0.016 293.756);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.811 0.111 293.571);
  --chart-2: oklch(0.606 0.25 292.717);
  --chart-3: oklch(0.541 0.281 293.009);
  --chart-4: oklch(0.491 0.27 292.581);
  --chart-5: oklch(0.432 0.232 292.759);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.606 0.25 292.717);
  --sidebar-primary-foreground: oklch(0.969 0.016 293.756);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    @apply cursor-pointer;
  }

  ::-webkit-scrollbar {
    @apply bg-foreground/40 h-1.5 w-1.5 rounded-[1ex];
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-foreground rounded-[1ex];
  }

  ::-webkit-scrollbar-corner {
    @apply bg-foreground;
  }
}

@layer utilities {
  .heading,
  .heading-md,
  .heading-lg,
  .heading-xl,
  .heading-2xl,
  .heading-3xl {
    @apply font-heading leading-[1.2] tracking-tighter antialiased;
  }

  .paragraph,
  .subtitle-md,
  .subtitle-lg,
  .subtitle-xl {
    @apply leading-[1.4] font-normal tracking-tight;
  }

  .heading-md,
  .subtitle-md {
    @apply text-medium;
  }

  .heading-lg,
  .subtitle-lg {
    @apply text-large;
  }

  .heading-xl,
  .subtitle-xl {
    @apply text-x-large;
  }

  .heading-2xl {
    @apply text-2x-large;
  }

  .heading-3xl {
    @apply text-3x-large;
  }

  .eyebrow {
    @apply text-sm leading-[1.2] font-semibold tracking-wider uppercase;
  }

  .no-scrollbar::-webkit-scrollbar {
    @apply hidden;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@utility container {
  width: 94%;
  max-width: unset;
  padding: unset;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    @apply w-[unset] px-5;
  }
}

@theme {
  --animate-scroll: scroll var(--animation-duration, 150s)
    var(--animation-direction, forwards) linear infinite;
  --animate-fade-up: fade-up 0.5s ease-out;
  --animate-fade-down: fade-down 0.5s ease-out;

  @keyframes fade-up {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    75% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-down {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    75% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}
