@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  /* radius */
  --radius: 0.625rem;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  /* font families */
  --font-sans: var(--font-sans);
  --font-heading: var(--font-heading);
  /* font sizes */
  --text-medium: var(--font-size-medium);
  --text-large: var(--font-size-large);
  --text-x-large: var(--font-size-x-large);
  --text-2x-large: var(--font-size-2x-large);
  --text-3x-large: var(--font-size-3x-large);
  --text-4x-large: var(--font-size-4x-large);
  /* container queries */
  --breakpoint-2xs: 22.5rem;
  --breakpoint-xs: 31.25rem;
  --breakpoint-md: 48rem;
  --breakpoint-3xl: 105rem;
  --breakpoint-4xl: 120rem;
}

:root {
  --background: oklch(0.973 0.0133 286.1503);
  --foreground: oklch(0.3015 0.0572 282.4176);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.3015 0.0572 282.4176);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.3015 0.0572 282.4176);
  --primary: oklch(0.5417 0.179 288.0332);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9174 0.0435 292.6901);
  --secondary-foreground: oklch(0.4143 0.1039 288.1742);
  --muted: oklch(0.958 0.0133 286.1454);
  --muted-foreground: oklch(0.5426 0.0465 284.7435);
  --accent: oklch(0.9221 0.0373 262.141);
  --accent-foreground: oklch(0.3015 0.0572 282.4176);
  --destructive: oklch(0.6861 0.2061 14.9941);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9115 0.0216 285.9625);
  --input: oklch(0.9115 0.0216 285.9625);
  --ring: oklch(0.5417 0.179 288.0332);
  --chart-1: oklch(0.5417 0.179 288.0332);
  --chart-2: oklch(0.7042 0.1602 288.988);
  --chart-3: oklch(0.5679 0.2113 276.7065);
  --chart-4: oklch(0.6356 0.1922 281.8054);
  --chart-5: oklch(0.4509 0.1758 279.3838);
  --sidebar: oklch(0.958 0.0133 286.1454);
  --sidebar-foreground: oklch(0.3015 0.0572 282.4176);
  --sidebar-primary: oklch(0.5417 0.179 288.0332);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9221 0.0373 262.141);
  --sidebar-accent-foreground: oklch(0.3015 0.0572 282.4176);
  --sidebar-border: oklch(0.9115 0.0216 285.9625);
  --sidebar-ring: oklch(0.5417 0.179 288.0332);
  /* shadow */
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.12;
  --shadow-color: hsl(240 30% 25%);
  --shadow-2xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
  --shadow-xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
  --shadow-sm:
    0px 4px 10px 0px hsl(240 30% 25% / 0.12),
    0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow:
    0px 4px 10px 0px hsl(240 30% 25% / 0.12),
    0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow-md:
    0px 4px 10px 0px hsl(240 30% 25% / 0.12),
    0px 2px 4px -1px hsl(240 30% 25% / 0.12);
  --shadow-lg:
    0px 4px 10px 0px hsl(240 30% 25% / 0.12),
    0px 4px 6px -1px hsl(240 30% 25% / 0.12);
  --shadow-xl:
    0px 4px 10px 0px hsl(240 30% 25% / 0.12),
    0px 8px 10px -1px hsl(240 30% 25% / 0.12);
  --shadow-2xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.3);
  /* shadow */
  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  /* font sizes */
  --font-size-medium: clamp(18px, 1.125rem + ((1vw - 3.9px) * 0.19), 20px);
  --font-size-large: clamp(20px, 1.25rem + ((1vw - 3.9px) * 0.476), 25px);
  --font-size-x-large: clamp(25px, 1.563rem + ((1vw - 3.9px) * 0.571), 31px);
  --font-size-2x-large: clamp(25px, 1.563rem + ((1vw - 3.9px) * 1.333), 39px);
  --font-size-3x-large: clamp(31px, 1.938rem + ((1vw - 3.9px) * 1.714), 49px);
  --font-size-4x-large: clamp(39px, 2.438rem + ((1vw - 3.9px) * 2.095), 61px);
}

.dark {
  --background: oklch(0.1743 0.0227 283.7998);
  --foreground: oklch(0.9185 0.0257 285.8834);
  --card: oklch(0.2284 0.0384 282.9324);
  --card-foreground: oklch(0.9185 0.0257 285.8834);
  --popover: oklch(0.2284 0.0384 282.9324);
  --popover-foreground: oklch(0.9185 0.0257 285.8834);
  --primary: oklch(0.7162 0.1597 290.3962);
  --primary-foreground: oklch(0.1743 0.0227 283.7998);
  --secondary: oklch(0.3139 0.0736 283.4591);
  --secondary-foreground: oklch(0.8367 0.0849 285.9111);
  --muted: oklch(0.271 0.0621 281.4377);
  --muted-foreground: oklch(0.7166 0.0462 285.1741);
  --accent: oklch(0.3354 0.0828 280.9705);
  --accent-foreground: oklch(0.9185 0.0257 285.8834);
  --destructive: oklch(0.6861 0.2061 14.9941);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3261 0.0597 282.5832);
  --input: oklch(0.3261 0.0597 282.5832);
  --ring: oklch(0.7162 0.1597 290.3962);
  --chart-1: oklch(0.7162 0.1597 290.3962);
  --chart-2: oklch(0.6382 0.1047 274.9117);
  --chart-3: oklch(0.7482 0.1235 244.7492);
  --chart-4: oklch(0.7124 0.0977 186.6761);
  --chart-5: oklch(0.7546 0.1831 346.8124);
  --sidebar: oklch(0.2284 0.0384 282.9324);
  --sidebar-foreground: oklch(0.9185 0.0257 285.8834);
  --sidebar-primary: oklch(0.7162 0.1597 290.3962);
  --sidebar-primary-foreground: oklch(0.1743 0.0227 283.7998);
  --sidebar-accent: oklch(0.3354 0.0828 280.9705);
  --sidebar-accent-foreground: oklch(0.9185 0.0257 285.8834);
  --sidebar-border: oklch(0.3261 0.0597 282.5832);
  --sidebar-ring: oklch(0.7162 0.1597 290.3962);
  /* shadow */
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.12;
  --shadow-color: hsl(240 30% 25%);
  --shadow-2xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
  --shadow-xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
  --shadow-sm:
    0px 4px 10px 0px hsl(240 30% 25% / 0.12),
    0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow:
    0px 4px 10px 0px hsl(240 30% 25% / 0.12),
    0px 1px 2px -1px hsl(240 30% 25% / 0.12);
  --shadow-md:
    0px 4px 10px 0px hsl(240 30% 25% / 0.12),
    0px 2px 4px -1px hsl(240 30% 25% / 0.12);
  --shadow-lg:
    0px 4px 10px 0px hsl(240 30% 25% / 0.12),
    0px 4px 6px -1px hsl(240 30% 25% / 0.12);
  --shadow-xl:
    0px 4px 10px 0px hsl(240 30% 25% / 0.12),
    0px 8px 10px -1px hsl(240 30% 25% / 0.12);
  --shadow-2xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.3);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    @apply cursor-pointer;
  }

  ::-webkit-scrollbar {
    @apply bg-foreground/40 h-1.5 w-1.5 rounded-[1ex];
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-foreground rounded-[1ex];
  }

  ::-webkit-scrollbar-corner {
    @apply bg-foreground;
  }
}

@layer utilities {
  .heading,
  .heading-md,
  .heading-lg,
  .heading-xl,
  .heading-2xl,
  .heading-3xl,
  .heading-4xl {
    @apply font-heading leading-[1.2] tracking-tighter text-balance antialiased;
  }

  .paragraph,
  .subtitle-md,
  .subtitle-lg,
  .subtitle-xl {
    @apply leading-[1.4] font-normal tracking-tight text-balance;
  }

  .heading-md,
  .subtitle-md {
    @apply text-medium;
  }

  .heading-lg,
  .subtitle-lg {
    @apply text-large;
  }

  .heading-xl,
  .subtitle-xl {
    @apply text-x-large;
  }

  .heading-2xl {
    @apply text-2x-large;
  }

  .heading-3xl {
    @apply text-3x-large;
  }

  .heading-4xl {
    @apply text-4x-large;
  }

  .eyebrow {
    @apply text-sm leading-[1.2] font-semibold tracking-wider uppercase;
  }

  .no-scrollbar::-webkit-scrollbar {
    @apply hidden;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@utility container {
  width: 94%;
  max-width: unset;
  padding: unset;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    @apply w-[unset] px-5;
  }
}

@theme {
  --animate-scroll: scroll var(--animation-duration, 150s)
    var(--animation-direction, forwards) linear infinite;
  --animate-fade-up: fade-up 0.5s ease-out;
  --animate-fade-down: fade-down 0.5s ease-out;

  @keyframes fade-up {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    75% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-down {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    75% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}
